@model KnotExe.Models.Usuario

@{
    ViewData["Title"] = "Cadastro";
}

<link rel="stylesheet" href="~/css/Cadastro.css" />

<div class="maincontainer">
    <div class="cornerbox">
        <img class="w-100" src="~/uploads/deco2.png" />
    </div>
    <div class="middlebox">
        <div class="cd-container mx-auto">
            <div class="cd-icon"></div>
            <h2 class="text-knot-white cd-h2">Crie sua conta</h2>
            <p class="text-knot-white cd-p">Junte-se à comunidade de jogos indies brasileiros</p>

            <form id="cadastroForm" asp-action="Cadastro" asp-controller="Usuario" method="post" onsubmit="return validarFormulario()">

                <div class="account-type">
                    <button class="cd-button" type="button" id="btnJogador">Jogador</button>
                    <button class="cd-button" type="button" id="btnDesenvolvedor">Desenvolvedor</button>
                </div>

                <input type="hidden" id="tipoConta" value="jogador">

                <label asp-for="UsuEmail" class="text-knot-white">Email</label>
                <div class="form-group input-container">
                    <input asp-for="UsuEmail" class="input-box" type="email" id="email" placeholder="seu@email.com" required>
                    <span asp-validation-for="UsuEmail" class="text-danger"></span>
                </div>

                <label asp-for="UsuUsername" class="text-knot-white">Nome de usuário</label>
                <div class="form-group input-container">
                    <input asp-for="UsuUsername" class="input-box" type="text" id="usuario" placeholder="username" required>
                    <span asp-validation-for="UsuUsername" class="text-danger"></span>
                </div>

                <label asp-for="UsuNome" class="text-knot-white">Nome de exibição</label>
                <div class="form-group input-container">
                    <input asp-for="UsuNome" class="input-box" type="text" id="nome" placeholder="Seu Nome Completo" required>
                    <span asp-validation-for="UsuNome" class="text-danger"></span>
                </div>

                <label asp-for="UsuSenhaHash" class="text-knot-white">Senha</label>
                <div class="form-group input-container">
                    <input asp-for="UsuSenhaHash" class="input-box" type="password" id="senha" placeholder="Mínimo 8 caracteres" required>
                    <span asp-validation-for="UsuSenhaHash" class="text-danger" onclick="toggleSenha('senha')"></span>
                </div>

                @* <label class="text-knot-white">Confirmar senha</label>
        <div class="form-group password-container">
        <input type="password" id="confirmarSenha" placeholder="Digite a senha novamente" required>
        <span onclick="toggleSenha('confirmarSenha')"></span>
      </div> *@

                <div class="input-container">
                    <label class="text-knot-white">
                        <input type="checkbox" id="termos"> Concordo com os
                        <a class="text-knot-purple knot-link text-body-secondary" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a> e
                        <a class="text-knot-purple knot-link text-body-secondary" asp-controller="Home" asp-action="Regras">Termos de Uso</a>
                    </label>

                    <div class="text-center w-100 my-3">
                        <button type="submit" class="btn btn-knot btn-cd" asp-controller="Timeline" asp-action="Index">Criar Conta</button>
                    </div>
                </div>

                <p class="cd-p">Já tem uma conta? <a class="text-knot-purple knot-link text-body-secondary" asp-controller="Usuario" asp-action="Login">Faça login</a></p>
            </form>
        </div>
    </div>
    <div class="cornerbox">
        <img class="w-100 my-auto" src="~/uploads/deco1.png" />
    </div>
</div>

<script src="/js/CadastroLogin.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
