<div class="knot-gamecard">
    <img class="knot-gamecard-image" src="~/assets/gamecover.png" />
    <div class="knot-gamecard-textbox">
        <h5 class="text-knot-white mx-2">Nome do Jogo</h5>
    </div>
</div>