@{
    ViewData["Title"] = "Sobre Nós";
}

<div class="text-knot-white container mt-5">
    <h1 class="text-knot-white">@ViewData["Title"]</h1>

    <div class="container py-5">
        <h2 class="text-center text-knot-white">Bem vindo ao</h2>
        <div class="text-center mb-4">
            <img src="https://picsum.photos/id/237/900/300" class="img-fluid" alt="Logo Knot.exe">
        </div>
    </div>

    <div class="text-knot-white faixa-titulo fw-bold">
        Quem somos
    </div>


    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8">
                <p class="sobre-text text-knot-white">
                    O projeto Knot.Exe é um fórum criado para que os usuários possam discutir sobre jogos, o site tem o intuito de
                    trazer mais visibiladade e engajamento para jogos e desenvolvedores de jogos que querem discutir ou divulgar
                    jogos que jogaram ou estão envolvidos na criação.
                </p>

                <p class="sobre-text text-knot-white">
                    O objetivo desse trabalho é engajar a comunidade de jogos eletrônicos no desenvolvimento de projetos brasileiros e 
                    independentes, que possui pouco reconhecimento e espaço próprio para divulgação nos dias de hoje. 
                </p>
            </div>
            <div class="col-md-4">
                <img src="https://picsum.photos/500/300" class="sobre-img img-fluid border border-light" alt="Imagem decorativa">
            </div>
        </div>
    </div>
</div>