@model KnotExe.Models.Post

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="text-knot-white">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idPost" />
            <div class="form-group">
                <label asp-for="PosTexto" class="control-label"></label>
                <input asp-for="PosTexto" class="form-control" />
                <span asp-validation-for="PosTexto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosMedia" class="control-label"></label>
                <input asp-for="PosMedia" class="form-control" />
                <span asp-validation-for="PosMedia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosData" class="control-label"></label>
                <input asp-for="PosData" class="form-control" />
                <span asp-validation-for="PosData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosTipo" class="control-label"></label>
                <input asp-for="PosTipo" class="form-control" />
                <span asp-validation-for="PosTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PosidUsuario" class="control-label"></label>
                <select asp-for="PosidUsuario" class="form-control" asp-items="ViewBag.PosidUsuario"></select>
                <span asp-validation-for="PosidUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
